<div class="classes flex-container">
  <div *ngFor="let classDetails of classes; let i = index" class="bubble-item">
    <button type="button"
            [style.--custom-background-color]="classDetails.color"
            [style.--custom-color]="classDetails.font_color"
            [class.selected]="isSelected(classDetails)"
            [class.cycling]="i === currentIndex"
            (click)="onSelect(classDetails)">
      <span>{{ classDetails.className }}</span>
    </button>
  </div>
</div>
