<div> 
  <h1> Welcome to Spec Roulette</h1>
  <p> To run it please navigate to the spec roulette page using the header menu. If you wish to learn more about and how to run it please read further on this page. </p>
</div>
<div>
  <p> To run the roulette, you must click on the roll the bones button. This will try to assign roles to everyone based on the class and specs selected. </p>  
</div>
<div>
  <p> If you wish to save your selections to your local storage for retrival you will have to consent to cookies via the hamburger menu in the top right. When you do this a cookie will be set in your browser to remember your consent as well so you do not have to re select this option. Only 5 groups can be saved, if a group matches an item already in your saved it will just replace the old one.</p>
</div>
<div>
  <p> Once you have consented to cookies you can save your current group configuration to local storage by running the roulette. You can retrive your saved groups by navigating to the saved groups page via the header menu, it will appear when you have consent added. Additionally, you will navigate to the roulette page on start up but can still access this page from the header menu.</p>
</div>
<div>
  <p> Under Construction </p>  
</div>