<div class="player-list">
    <button type="button" *ngIf="((players$ | async) ?? 0) < 5" (click)="addPlayer()"><span>Add Player</span></button>
    <button type="button" *ngIf="((players$ | async) ?? 0) > 0" (click)="removePlayer()"><span>Remove Player</span></button>
  <div class="flex-container">
  <ng-container *ngIf="playerlist$ | async as playerlist">
  <app-player *ngFor="let player of playerlist; let i = index"
                [playerId]=i+1
                [isLoading]="isLoading">
  </app-player>
  </ng-container>
  </div>
  <app-group-configuration >
  </app-group-configuration>


</div>
